- ansible.builtin.import_role:
    name: compose_hull
    tasks_from: facts
  vars:
    service_defaults:
      directory: "{{ docker_dir }}/traefik"
      name: traefik
      version: "latest"
      port: 8080
      traefik: false
      external: false
      watchtower: true
      autoheal: true
      internal_ip_ranges: []
      skip_network_definition: false
      subdirs:
        - "dynamic"

- ansible.builtin.import_role:
    name: compose_hull
    tasks_from: user_info

- ansible.builtin.import_role:
    name: compose_hull
    tasks_from: create_directories

- name: Copy static config traefik.yml
  template:
    src: traefik.yml.j2
    dest: '{{ service_cfg.directory }}/traefik.yml'
    owner: '{{ admin.name }}'
    group: 'docker'
  tags: [ always, started, restarted, recreated ]

- name: Copy dynamic config files
  copy:
    src: "{{ item }}"
    dest: '{{ service_cfg.directory }}/dynamic/{{ item }}'
    owner: '{{ admin.name }}'
    group: 'docker'
  tags: [ always, started, restarted, recreated ]
  with_items:
    - tls-options.yml
    - https-redirect-all.yml
    - tcp-serverstransport.yml

- name: Copy rules/middlewares.yml
  template:
    src: middlewares.yml.j2
    dest: '{{ service_cfg.directory }}/dynamic/middlewares.yml'
    owner: '{{ admin.name }}'
    group: 'docker'
  tags: [ always, started, restarted, recreated ]

- name: ensure acme.json exists
  copy:
    content: ""
    dest: '{{ service_cfg.directory }}/acme.json'
    force: no
  tags: [ always, started, restarted, recreated ]

- name: ensure acme.json has correct permissions
  file:
    path: '{{ service_cfg.directory }}/acme.json'
    owner: "{{ admin.name }}"
    group: docker
    mode: "0600"
  tags: [ always, started, restarted, recreated ]

- name: Create shared backend network
  community.docker.docker_network:
    name: backend_shared
    driver: bridge
    state: present
  tags: [ always, started, restarted, recreated ]

- ansible.builtin.import_role:
    name: compose_hull
    tasks_from: deploy_docker

- name: Restart Traefik container
  community.docker.docker_compose_v2:
    project_src: "{{ service_cfg.directory }}"
    state: restarted
  tags: [ always, started, restarted, recreated ]
