api:
  dashboard: true
  insecure: true  # Intern auf :8080, extern OAuth2-geschützt via traefikauth

experimental:
  plugins:
    traefikoidc:
      moduleName: github.com/lukaszraczylo/traefikoidc
      version: v0.8.21
    fail2ban:
      moduleName: github.com/tomMoulard/fail2ban
      version: v0.8.9

entryPoints:
  web:
    address: ":80"
    forwardedHeaders:
      insecure: true
    transport:
      respondingTimeouts:
        readTimeout: 1800s
        writeTimeout: 1800s
        idleTimeout: 180s
  web-secure:
    address: ":443"
    forwardedHeaders:
      insecure: true
    transport:
      respondingTimeouts:
        readTimeout: 1800s
        writeTimeout: 1800s
        idleTimeout: 180s
  imaps:
    address: ":993"
  imap:
    address: ":143"
  smtps:
    address: ":465"
  smtp:
    address: ":25"

providers:
  docker:
    watch: true
    exposedByDefault: false
    allowEmptyServices: true
  file:
    directory: /etc/traefik/dynamic
    watch: true

certificatesResolvers:
  default:
    acme:
      email: {{ admin.email }}
      storage: /etc/traefik/acme/acme.json
      httpChallenge:
        entryPoint: web

accessLog: {}
ping: {}

log:
  level: WARN