api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"
    forwardedHeaders:
      insecure: true
  web-secure:
    address: ":443"
    forwardedHeaders:
      insecure: true
  foundry:
    address: ":30000/tcp"

providers:
  docker:
    watch: true
    exposedByDefault: false
    allowEmptyServices: true
  file:
    directory: /etc/traefik/dynamic
    watch: true

certificatesResolvers:
  default:
    acme:
      email: {{ admin.email }}
      storage: /etc/traefik/acme/acme.json
      httpChallenge:
        entryPoint: web

tcp:
  routers:
    foundry-tcp-router:
      entryPoints:
        - foundry
      rule: "HostSNI(`foundry.riedberg-server.de`)"
      service: foundry-tcp-service

  services:
    foundry-tcp-service:
      loadBalancer:
        servers:
          - address: "foundry-service:30000"

accessLog: {}
ping: {}

log:
  level: INFO

experimental:
  plugins:
    geoblock:
      moduleName: "github.com/PascalMinder/geoblock"
      version: "v0.2.7"